<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
        </ul>
    </div>
</nav>

<h1>Welcome {{name}}</h1>
<form action="/logout?_method=DELETE" method="POST">
<button type="submit">Log Out</button>
</form>


<div id="home">
    <a class="waves-effect waves-light btn" id="film">Film</a>
    <a class="waves-effect waves-light btn" id="tv">Television</a>
    <a class="waves-effect waves-light btn" id="sports">Sports</a>
    <a class="waves-effect waves-light btn" id="compSci">Computer Science</a>
    ​
    <div style="float: right; padding-right: 25px;">Timer: <span id="countdown">5</span></div>

    <div class="row">
        <div class="input-field col s6">
            <input id="answerInput" type="text" class="answer">
            <label>Enter Answer</label>
        </div>
    </div>
    ​
    <div class="container col s5 m5" id="displayTrivia"></div>


</div>

