<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Open Social Trivia</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>


<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <h5 class="welcome">Welcome {{name}}</h5>
        <form action="/logout?_method=DELETE" method="POST">
        <button type="submit" class="logout btn red right">Log Out</button>
        </form>

        <ul class="uk-navbar-nav">
        </ul>
    </div>
</nav>


<div id="home">
    <a class="waves-effect waves-light btn" id="film">Film</a>
    <a class="waves-effect waves-light btn" id="tv">Television</a>
    <a class="waves-effect waves-light btn" id="sports">Sports</a>
    <a class="waves-effect waves-light btn" id="compSci">Computer Science</a>
    ​
    <p class="timer" style="float: right; padding-right: 25px;"></p>

  

  <form>
    <div class="input-field">
      <div class="row">
        <div class="input-field col s6">
          <input id="answerInput" type="search" required>
          <button class="answerSpan" style="visibility:hidden;" id="submitBtn">Submit</button>
          <label>Enter Answer</label>
          
        </div>
      </div>
    </div>
  </form> 

  <div class="row">
    <div  id="displayTrivia"></div>
    <div class="container col s3 m3" id="displayAnswer"></div>
  </div>
  <div class="row">
  
      <div class="col s3 m3">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Score Card</span>
            <p><b>userName1</b> <p class="score">Score: ##</p><br>
            <b>userName2</b> Score: ##<br>
            <b>userName3</b> Score: ##<br>
           <b>userName4</b> Score: ##<br>
            <b>userName5</b> Score: ##
            
            </p>
          </div>

        </div>

      </div>
      <div class="col s9 m9">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Chat</span>
            
            <form id="messageForm">
                <div class="form-group">
                  <label>Enter Message</label>
                  <textarea class="form-control" id="message"></textarea> 
                  <br />
                  <input type="submit" class="btn" id="chatSubmit" value="Send Message">
                  <br />
                  <div class="chat" id="chat"></div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

       

        

        <div class="row">
          <div class="col s3 m3 offset-s6">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">Online Users</span>
                <ul class="list-group" id="users"></ul>
              </div>

            </div>
          </div>

        </div>


 
       
         <script src="/jquery/dist/jquery.js"></script>
        <script src="/socket.io/socket.io.js"></script>

<script>
   var socket = io.connect();
 socket.on('connect', function(data) {
    socket.emit('join', 'Hello World from client');
 });
 socket.on('broad', function(data) {
         $('#chat').prepend(`{{name}}: ` + data + "<br/>");
   });

 $('#chatSubmit').on("click",function(e){
     e.preventDefault();
     var message = $('#message').val();
     socket.emit('messages', message);
 });
</script>
        
</body>

</html>