<div class="container">
    <br>
    <br>
    <div class="logo"><img src="/assets/images/open-social-trivia.png"  style="width:450px;" alt="OST"> </div>
    <h3> Login to an existing Account </h3>
    {{#if message }}
    <div {{message}}></div>
    {{/if}}
    <form action="/login" method="POST">
        <div>
            <label for="name">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="name">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="waves-effect waves-light btn pink darken-1
" class="loginBtn">Login</button>
           or
        <a href="/register">Register a new account</a>
    </form>
</div>