<div class="row">
    <form class="col s12" action="/question" method="POST">
        <h3>Add your trivia question and answer here!</h3>
        <div class="row">
            <div class="input-field col s12">
                <textarea  class="materialize-textarea" id="user" value='username'></textarea>
                <label for="user">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea class="materialize-textarea" id="quest" value='question'></textarea>
                <label for="quest">Question</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <textarea class="materialize-textarea" id="answer" value='answer'></textarea>
                <label for="answer">Answer</label>
            </div>
        </div>
        <button id='submit'>Submit</button>
    </form>
</div>