<div class="container">
    <h3> Register a new Account </h3>
    <form action="/register" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="name">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="name">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="waves-effect waves-light btn" class="registerBtn">Register</button>
        <br>or
        <a href="/login">Login Here</a>
    </form>
</div>