body{
    margin-top: 30px;
}
.welcome {
    margin-top: auto;
    padding: 15px;
}

.logout {
    margin: 5px;
}

#home {
    margin: 5px;
}

#displayAnswer{
    height: 15px;
}


.chat {
	padding: 30px;
	max-height: 300px;
	overflow-y: scroll;
}


#users {
	
	max-height: 130px;
	overflow-y: scroll;
}